.myorders {
  max-width: 1100px;
  margin: auto;

  .text-main {
    padding: 20px 0 40px;
    color: #6754e2;
    font-weight: bold;
    font-size: 30px;
    text-align: start;
    margin-top: 40px;
  }
}
